.app {
  max-width: 500px;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  color: #073b4c;
  text-align: center;
  font-family: Google Sans, -apple-system, BlinkMacSystemFont, sans-serif;
}

.sect {
  display: flex;
  margin: 0 10px;
}

input {
  width: calc(100% - 105px);
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add {
  padding: 10px 16px;
  margin: 10px 0;
  margin-left: 18px;
  border: none;
  border-radius: 5px;
  background-color: #0387ce;
  color: #fff;
  cursor: pointer;
}


